 <project>
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.workplacesystems.queuj</groupId>
  <artifactId>queuj</artifactId>
  <packaging>jar</packaging>
  <name>QueuJ</name>
  <version>@@VERSION@@</version>
  <description>Java job queue built for concurrency control, scalability, persistence and resilience.</description>
  <url>http://queuj.sourceforge.net/</url>
  <licenses>
    <license>
      <name>The Apache Software License, Version 2.0</name>
      <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
      <distribution>repo</distribution>
    </license>
  </licenses>
  <scm>
    <url>https://queuj.svn.sourceforge.net/svnroot/queuj/queuJ/</url>
    <connection>https://queuj.svn.sourceforge.net/svnroot/queuj/queuJ/</connection>
  </scm>
  <developers>
    <developer>
      <id>daveoxley</id>
      <name>Dave Oxley</name>
      <email>dave@daveoxley.co.uk</email>
    </developer>
  </developers>
  <dependencies>
    <dependency>
      <groupId>com.workplacesystems.utilsj</groupId>
      <artifactId>utilsj</artifactId>
      <version>1.0.2</version>
    </dependency>
    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>
    <dependency>
      <groupId>commons-pool</groupId>
      <artifactId>commons-pool</artifactId>
      <version>1.5.4</version>
    </dependency>
  </dependencies>
</project>
